<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Mathematics and Physics Graduate at the Complutense University of Madrid, with a year abroad at the University of Geneva. Researcher at the UCM in Machine Learning and Artificial Intelligence, with the prospect of a PhD. In addition, I have a great interest in the world of finance and investments, as well as in data analysis and mathematical modelling. As a hobby, I love reading about politics and history.</p>
      </div>
      <div class="col-lg-4">
        <p>Graduado en Matemáticas y Física por la Universidad Complutense de Madrid, con un año de intercambio en la Universidad de Ginebra. Investigador en la UCM centrado en Aprendizaje Automático e Inteligencia Artificial, con el propósito de doctorarme. Además, tengo un gran interés por el mundo de las finanzas y las inversiones, así como por el análisis de daros y la modelización matemática. Como hobby, me encanta leer sobre política e historia. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/samuellozanoiglesias/samuellozanoiglesias.github.io/blob/de6ccbc70334effa5bde9f0e73f51c897fb08ac2/CV_Samuel_Lozano_English_Investigacion.pdf" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
