<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      {% for post in site.posts %}
      <!-- <div class="col-md-6 portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>-->
      {% endfor %}

      <!-- Matemáticas - Trabajo de Fin de Grado (Versión en español) -->
      <div class="col-md-6 portfolio-item">
        <a href="https://raw.githubusercontent.com/samuellozanoiglesias/samuellozanoiglesias.github.io/main/img/portfolio/LOZANO_Samuel-TFG_Matematicas.pdf" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-download"></i>
              <p>Trabajo de Fin de Grado de Matemáticas (Español)</p>
            </div>
          </div>
          <img src="img/portfolio/LOZANO_Samuel-TFG_Matematicas-Portada.png" class="img-responsive" alt="TFG Matemáticas">
        </a>
      </div>

      <!-- TFG Mathematics (English) -->
      <div class="col-md-6 portfolio-item">
        <a href="https://raw.githubusercontent.com/samuellozanoiglesias/samuellozanoiglesias.github.io/main/img/portfolio/tfg-mathematics.pdf" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-file-pdf-o fa-3x"></i>
              <p>Mathematics BSc Thesis (English)</p>
            </div>
          </div>
          <img src="img/portfolio/tfg-mathematics.jpg" class="img-responsive" alt="Mathematics BSc Thesis">
        </a>
      </div>

      <!-- Física - Trabajo de Fin de Grado (Español) -->
      <div class="col-md-6 portfolio-item">
        <a href="https://raw.githubusercontent.com/samuellozanoiglesias/samuellozanoiglesias.github.io/main/img/portfolio/ETE31_Lozano_Iglesias_Samuel.pdf" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-file-pdf-o fa-3x"></i>
              <p>Trabajo de Fin de Grado de Física (Español)</p>
            </div>
          </div>
          <img src="img/portfolio/ETE31_Lozano_Iglesias_Samuel-Portada.png" class="img-responsive" alt="TFG Física">
        </a>
      </div>

      <!-- Physics - Final Bachelor Project (English) -->
      <div class="col-md-6 portfolio-item">
        <a href="https://raw.githubusercontent.com/samuellozanoiglesias/samuellozanoiglesias.github.io/main/img/portfolio/tfg-physics.pdf" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-file-pdf-o fa-3x"></i>
              <p>Physics BSc Thesis (English)</p>
            </div>
          </div>
          <img src="img/portfolio/tfg-physics_english.jpg" class="img-responsive" alt="Physics BSc Thesis">
        </a>
      </div>

      <!-- Póster Benasque -->
      <div class="col-md-6 portfolio-item">
        <a href="https://raw.githubusercontent.com/samuellozanoiglesias/samuellozanoiglesias.github.io/main/img/portfolio/POSTER-Turbidity.pdf" target="_blank" class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-file-pdf-o fa-3x"></i>
              <p>2nd Spanish Soft Matter 1 1/2 Day - Benasque (Poster)</p>
            </div>
          </div>
          <img src="img/portfolio/Titulo_Poster_Benasque.png" class="img-responsive" alt="Poster Benasque">
        </a>
      </div>

    </div>
  </div>
</section>
